.state-indicator {
    position: absolute;
    top: -999em;
    left: -999em;
    z-index: 1;
}


/*--------------------------------------------------------------------------------------------------------------------*/

@media all and (max-width: 2200px){
    body{
        background-color:black;
    }

}


/*--------------------------------------------------------------------------------------------------------------------

/* 小屏幕 */
@media all and (max-width: 1200px) {
    body{
        background-color:red;
    }
    .state-indicator {
        z-index: 2;
    }
}


/*--------------------------------------------------------------------------------------------------------------------

/* 平板 */
@media all and (max-width: 1024px) {
    body{
        background-color: blue;
    }
    .state-indicator {
        z-index: 3;
    }
}




/*--------------------------------------------------------------------------------------------------------------------*/
/* 手机 */
@media all and (max-width: 768px) {
    body{
        background-color:orange;
    }

    .head{
        position:absolute;
    }

    .guideline-side-left{
        background-color: rgb(188, 202, 255);
        height:100%;
        position:absolute;
        width:30%;
        top:0;
        left:-30%;
    }


    .guideline-side-right{
        background-color:rgb(188, 202, 255);

    }

    .guide-head{

    }

    .guide-item{

    }

    .guide-slide-item{

    }

    .slide-tag{

    }

    .guide-item{

    }

    .guideline-bottom{

    }



























    .state-indicator {
        z-index: 4;
    }
}